<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TankArtifacts" value="https://pkgs.dev.azure.com/iusacom/_packaging/TankArtifacts/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TankArtifacts>
      <add key="Username" value="carlos.valencia@iusacomm.com" />      
      <add key="ClearTextPassword" value="xk4afp346hiuurnt4hyjy2rarrs62qph5wqduyxmwuipnwe5dgcq" />
    </TankArtifacts>
  </packageSourceCredentials>
</configuration>